/* thanks to c3o for the styling */
body { 
  font-family: Helvetica, sans-serif; 
  line-height: 1.5em;
  margin: 1em;
  background: #ddd;
}

input, textarea {
  font-size: 1em;
  width: 100%;
}
input[type=submit] {
  display: block;
  clear: both;
}
textarea {
  padding: 0;
}

#navigation {
  font-size: .75em;
  color: #777;
}
#navigation label {
  display: block;
  float: left;
  margin-right: .3em;
}
#longitude, #latitude {
  display: block;
  float: left;
  width: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
#longitude { margin-right: .8em; }


#status {
  -webkit-border-radius: 1em;
  padding: 0 .6em;
  float: right;
  color: #fff;
  font-size: .8em;
}
#status.Online { background: #0c0; }
#status.Offline { background: #c00; }

#notelist {
  background: #fff;
  -webkit-border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
}

h2 {
  margin: 0;
  font-size: 1.2em;
}
